{% extends 'base.html' %} {% block content %}

<!--TOP-->
<!--<section id="unicornattractor"></section>-->
{% endblock %}
{% block home %}

<!--FEATURES-->
<section id="features">
    <h1>Features</h1>
    <div class="row">
        {% for feature in features %}
        <div class="col-sm-6 col-md-3">
            <div class="card ftcard" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ feature.featureName }}</h5>
                    <p class="card-text">{{ feature.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


<!--Features under development-->
<section id="blog">
    <h1>Features in Development</h1>
    <div class="row">
        {% for devFeature in devFeatures %}
        <div class="col-sm-6 col-md-3">
            <div class="ftcard card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ devFeature.featureName }}</h5>
                    <p class="card-text">{{ devFeature.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!--TICKETS-->
<section id="tickets">
    <h1>Bugs we are working on</h1>
    <div class="row">
        {% for ticket in tickets %}
        <div class="col-sm-6 col-md-3">
            <div class="ftcard card ticketcard" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.ticketName }}</h5>
                    <p class="card-text">{{ ticket.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
