{% extends "base.html" %} {% block page_title %}Password Reset Page{% endblock %} {% block page_heading %}Reset Password{% endblock %} {% block headerTag %}
<header id="trees"> {% endblock headerTag %} {% block content %}
    <div class="row">
        <div class="card ftcard" style="width:100%;">
            <div class="card-body">
                <h5 class="card-title">E-mail sent!</h5>
                <p>You should receive an email shortly with instructions on how to reset your password.</p>
                <p>If you haven't received an email, please make sure you've entered the correct email address, and check your spam folder</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
