{% extends "base.html" %} {% block page_title %}Password Reset Page{% endblock %} {% load bootstrap_tags %} {% block page_heading %}Reset Password{% endblock %} {% block headerTag %}
<header id="trees"> {% endblock headerTag %} {% block content %}
    <div class="row">

        {% if validlink %}
        <div class="card ftcard" style="width:100%;">
            <div class="card-body">
                <h5 class="card-title">Change your password!</h5>
                <p>Please enter your new password twice</p>
            </div>
        </div>

        <form method="POST" class="accountform">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div>
                {{ form.new_password1.errors }}
                <label for="id_email" class="control-label required-field">New Password:</label> {{ form.new_password1 }}
            </div>
            <div>
                {{ form.new_password1.errors }}
                <label for="id_email" class="control-label required-field">Confirm Password:</label> {{ form.new_password2 }}
            </div>
            <input type="submit" value="Change my password" />
        </form>

        {% else %}

        <div class="card ftcard" style="width:100%;">
            <div class="card-body">
                <h5 class="card-title">Password reset link is invalid!</h5>
                <p>The password reset link you used was invalid (perhaps because it has already been used) Please request a new password reset link</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}
