{% extends "base.html" %}
{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}
{% block headerTag %} <header id="trees"> {% endblock headerTag %}
{% block content %}
<div class="row">
    <div class="card ftcard" style="width:100%;">
            <div class="card-body">
                <h5 class="card-title">Password Reset Success!</h5>
                <p>Your password has been reset! Now go log in and save some unicorns!.</p>
                <p><a href="{{ login_url }}">Log in</a></p>
                </div>
        </div>
</div>
{% endblock %}
