/*BASE TEMPLATE*/
body {
    color: #fafafa;
}


.navigation a {
    color: #fafafa
}

.navbar-toggler {
    font-size: 4rem;
    color: #fafafa;
    border-radius: 0rem; 
}


nav {
    margin-right: 25px;
}

.navigation a {
    color: #fafafa;
}
li.nav-item {
    margin-top:20px
}


li.nav-item a {
   color: #fafafa;
}

li.nav-link a {
    color: #fafafa;
}
/*FOOTER*/
footer {
        background-image: url('/static/img/1_akxEm0R7YDzmGjW54i8Kcw.png');
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 60vh; 
        }    

#contactform {
    margin-top: 40px;
    opacity: 0.8;
    height: 80%;
}  
.address {
    margin-top: 40px;
    opacity: 0.8
}      

.social {
    text-align: center;
}
/*HOME TEMPLATE*/
#GIF {
    background-attachment: fixed;
    background-image: url(/static/img/Unicorn-Gif.gif);
    background-size: cover;
    background-position: 75%;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

#trees {
    background-attachment: fixed;
    background-image: url(/static/img/forest-trees-mist-sunlight.jpeg);
    background-size: cover;
    background-position: 75%;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

#features {
        background-image: url('/static/img/Blue-Mountains-Mist-HD-Wallpaper-15347665-1920x1080.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 75vh; 
        opacity: 0.8;
    }
    
#stats {
    background-attachment: fixed;
    background-image: url('/static/img/clouds.jpg');
    background-position: bottom;
    background-size: cover;
    height: 75vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
    opacity: 0.8;
}     

 

.card-body {
    height: auto;
    width: auto;
    text-align: center;
    opacity: 0.9;
    color: #555;
}

#tickets {
        background-image: url('/static/img/trees.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 50vh; 
        opacity: 0.8;
    }


.tickets form {
    margin: 30px;
}




.carousel-control-next, .carousel-control-prev {
    top: 18%;
    width: 2%;
    color: #000;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 30px
}

.fa-arrow-circle-left::before {
    color: #000;
} 

.fa-arrow-circle-right::before {
    color: #000;
} 

/*CART*/

.cart {
    margin-top: 5%
}

.cart form {
    margin-left: 35%;
}

.cart.card-body {
    text-align: center;
}


/*CHECKOUT*/
.checkout {
    margin-top: 5%
}

.orderdetails {
    margin-top: 5%;
}

.orderdetails h4 {
    margin-left: 15px;
}


.paymentdetails {
    margin-top: 5%;
}


.ordercard {
    margin-top: 5%;

}

.addressform {
    margin-top: 0px;
    padding-left: 0px; 
}

.submitpayment {
    margin-top: 32px;  
}

.featurecontribution {
    margin-bottom: 20px;
}

/*TICKETS*/
.infocard {
    margin-top: 25px;
}

.ftcard {
    margin-top: 25px;
}



