/*BASE TEMPLATE*/
body {
    color: #fafafa;
}

li.nav-item a {
   color: #fafafa;
}

li.nav-link a {
    color: #fafafa;
}
/*FOOTER*/
footer {
        background-image: url('/static/img/1_akxEm0R7YDzmGjW54i8Kcw.png');
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 50vh; 
        }    

#contactform {
    margin-top: 40px;
    opacity: 0.8
}  
.address {
    margin-top: 40px;
    opacity: 0.8
}      

.social {
    text-align: center;
}
/*HOME TEMPLATE*/
#unicornattractor {
    background-attachment: fixed;
    background-image: url(/static/img/Unicorn-Gif.gif);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

#features {
        background-image: url('/static/img/Blue-Mountains-Mist-HD-Wallpaper-15347665-1920x1080.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 50vh; 
        opacity: 0.3;
    }
    
#blog {
    background-attachment: fixed;
    background-image: url('/static/img/clouds.jpg');
    background-position: bottom;
    background-size: cover;
    height: 75vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
    opacity: 0.5;
}     

.ftcard {
    margin-top: 50%;
    margin-left: 20%;
} 

.card-body {
    height: auto;
    width: auto;
    text-align: center;
    opacity: 0.9;
    color: #555;
}

#tickets {
        background-image: url('/static/img/trees.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 50vh; 
        opacity: 0.3;
    }


form {
    margin: 30px;
}