{% extends "base.html" %} {% block content %}{% block headerTag %} <header id="trees"> {% endblock headerTag %}
<div class="row">
    <div class="col-xs-10">
        <div class="ftcard card ticketcard" style="width: 18rem;">
            <div class="card-body">

                <h5 class="card-title">{{ ticket.ticketName }}</h5>
                <p><span class="boldtext">Published on:</span> {{ ticket.published_date }}
                <p><span class="boldtext">Author:</span> {{ ticket.author }}</p>
                {% if ticket.image %}
                <img class="img-blogpost" src="/media/{{ post.image }}"> 
                {% endif %}
                <p class="card-text">status: {{ ticket.get_status_display }}</p>
                {% if ticket.fix_version %}
                <p class="card-text">Bug fixed since: {{ ticket.fixed_date }} | version: {{ ticket.fix_version }}</p>
                {% endif %}
                {% if ticket.devComments %}
                <p class="card-text">{{ ticket.devComments }}</p>
                {% endif %}
                <a href="{% url 'get_tickets' %}" class="btn btn-default">Back to tickets</a>
                <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-default">Edit Ticket</a>
                <a href="{% url 'ticket_upvote' ticket.id %}" class="btn btn-default">I have this problem too!</a>
                <p class="card-text">Upvotes: {{ ticket.upvotes }}</p>
                
            </div>
        </div>
    </div>

    <!--<div class="col-md-2 col-sm-3 text-center">-->
    <!--    <a class="story-img" href="#">-->
    <!--        <img src="/media/img/profile.jpg" class="img-circle">-->
    <!--    </a>-->
    <!--    <p><span class="boldtext">Author:</span> {{ ticket.author }}</p>-->
    <!--</div>-->
    <!--<div class="col-sm-10 col-md-9">-->
    <!--    {% if ticket.image %}-->
    <!--        <img class="img-blogpost" src="/media/{{ post.image }}">-->
    <!--    {% endif %}-->
    <!--    <h3>{{ ticket.title }}</h3>-->
    <!--    <div class="row">-->
    <!--        <div class="col-xs-9">-->
    <!--            <p>{{ ticket.content }}</p>-->
    <!--            <p><span class="boldtext">Published on:</span> {{ ticket.published_date }} </p>-->
    <!--            <p><span class="boldtext">Views:</span> {{ ticket.views }}</p>-->
    <!--            <p><span class="boldtext">Tag:</span> {{ ticket.tag }}</p>-->
    <!--            <a href="{% url 'get_tickets' %}" class="btn btn-default">Back to tickets</a>-->
    <!--            <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-default">Edit Post</a>-->
    <!--            <hr>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</div>
{% endblock %}
