{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %}Registration Page{% endblock %} {% block page_heading %}User Registration{% endblock %} {% block headerTag %}
<header id="trees"> {% endblock headerTag %}{% block content %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-10 offset-1">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="infocard card">
                            <div class="card-body">
                                <p class="card-text">If you already have an account, you can <a href="{% url 'login' %}">sign in</a></p>
                            </div>
                        </div>
                    </div>
                    <form class="registration col-md-6 offset-md-3 col-12" method="POST">
                        {% csrf_token %} {{ registration_form | as_bootstrap }}
                        <button type="submit">Register</button>
                    </form>
                </div>



                
               
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div> {% for message in messages %} {{ message }} {% endfor %}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> 
        
          
         
        </div>
        {% endblock %}


    <script type="application/javascript">
    if ( {{ messages }} ) {
            $('#messageModal').modal({show:true});
    };
    </script>
